@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(42, 111, 146, 0.5);
  background-color: white;
  border-radius: 0.6rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(42, 111, 146, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #4A6FA5;
  color: white;
  border-radius: 0.6rem;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}
.catName{
  font-family:  'Cinzel', Arial, Helvetica, sans-serif;
  font-size: 5rem;
}
#nameCategory{
  text-align: center;
  font-size: 3rem;
}
#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #4A6FA5;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #4A6FA5;
  width: 0%;
}

/* LOADER */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #4A6FA5;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
